* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0b0d0e;
}


.search-input {
    border: 2px solid #1DE9B6;
    width: 400px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
}

.search-button {
    border: 2px solid #1DE9B6;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.search-button:hover {
    color: rgb(247, 119, 0);
    border: 2px solid rgb(247, 119, 0);
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.movie {
    border: 3px solid #1DE9B6;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

.movieInfo {
    display: flex;
    flex-direction: row;

}

.movieCover {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.movieRating,
.movieYear {
    margin: 5px;
    padding: 5px;
}

a {
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #1DE9B6;
    text-decoration: none;
    color: #1DE9B6;
}

a:hover {
    border: 2px solid rgb(247, 119, 0);
    text-decoration: none;
    color: rgb(247, 119, 0);
}


.paginationjs-pages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 3px;
    animation: jump 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

.circle:nth-of-type(4) {
    animation-delay: 0.3s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 700px) {
    .search-input {
        max-width: 300px;
    }

    .paginationjs-pages li {
        margin-top: 40px;
    }
    .movie{
        width: 200px;
    }
    .movieCover {
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    
}